<div [class]="container">
<h1 [class] ="styleName" >{{message}}</h1>

<div [class]="contextCenter">
    <button [class]="margin"  (click) ="changeColor('red')">Red</button>
    <button [class]="margin" (click) ="changeColor('blue')">Blue</button>
    <button [class]="margin" (click) ="changeColor('green')">Reset</button>
</div>

<table>
  <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

  </thead>

  <tbody>
    <tr *ngFor="let account of  accounts">
      <td>{{account.id}}</td>
      <td>{{account.getDescription()}}</td>
      
    </tr>

  </tbody>
</table>

</div>